body {
    background-color: hwb(0 45% 14%);
}

table {
    margin: auto;
    background-color: #060606;
    width: 350px;
    max-width: 450px;
    height: 460px;
    text-align: center;
    border-radius: 4px;
    padding-right: 40px;
}

input {
    outline: 0;
    position: relative;
    left: 15px;
    top: 15px;
    border: 0;
    color: #8195de;
    background-color: #fff;
    border-radius: 4px;
    width: 61px;
    height: 52px;
    float: left;
    margin: 5px;
    font-size: 21px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

input:hover {
    border: 0 solid #000;
    color: #091543;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 52px;
    float: left;
    margin: 5px;
    font-size: 21px;
    box-shadow: 0 4px #865a01;
    }

    input:active {
        top: 4px;
        border: 0 solid #277cab;
        color: #0f1e52;
        background-color: #fff;
        width: 61px;
    height: 52px;
    float: left;
    margin: 5px;
    font-size: 22px;
    box-shadow: none;
    }

    #display {
        width: 270px;
        max-width: 280px;
        font-size: 25px;
        text-align: right;
        background-color: #bcdb95;
        float left;
    }

    #display:hover {
            width: 275px;
            font-size: 25px;
            text-align: right;
            background-color: #40c379;
            box-shadow: 0 4px rgba(0,0,0,0,2);
            }
    }

    #display:active {
        top: 6px;
        width: 274px;
        font-size: 25px;
        text-align: right;
        background-color: #bcbd95;
        box-shadow: 0 4px rgba(0,0,0,0,2);
        }

        .operator {
            background-color: #c6ed97;
            position: relative
        }

        .operator:hover {
            box-shadow: 0 4px hsl(175, 90%, 43%);
        }

        .operator:active {
            top: 5px;
            box-shadow: none;
        }

        #clear {
            float: left;
            position: relative;
            display:block;
            background-color: #ff9fa8;
        }

        #clear:hover {
            float:left;
            display:block;
            background-color: #df1b2e;
            margin-bottom: 16px;
            box-shadow: 0 5px #d21626;
        }

        #clear:active {
            float:left;
            top:5px;
            display:block;
            background-color: #f01c31;
            margin-bottom: 16px;
            box-shadow: none;
        }